@font-face {
    font-family: Wrong;
    src: url(../assets/wrongtime.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Modeco;
    src: url(../assets/Modeco-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Mulish;
    src: url(../assets/Mulish-Regular.ttf);
    font-weight: normal;
}
a {
    text-decoration: none !important;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black; /* #131313 */
    color: whitesmoke;
    font-family: Modeco, sans-serif !important;
    /*color: #222222;*/

    /*background-size: 100%;*/
    /*background-position-y: 0;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: bottom;*/

    /*background-image: url(../images/SiteBackground.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-attachment: fixed;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*width: 100%;*/
}

.dongle {
    font-family: Dongle, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*.navbar-toggler.collapsed {*/
/*    visibility: hidden;*/
/*}*/

.textBlock {
    color: whitesmoke;
    font-size: 1rem;
    border: 1px dashed crimson;
}

.bigLogo {
    width: 50%;
}

@media (min-width: 900px) {
    .bigLogo {
        width: 20%;
    }

    .textBlock {
        font-size: 1.2rem;
    }
}

.imageLogo {
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    height: 56px;
}

.command,
a {
    color: white;
    cursor: pointer;
}

.navbar-light .navbar-brand {
    margin-top: -4px;
    font-family: Modeco, sans-serif !important;
}

.navbar-text {
    padding: 0.5rem 1rem !important;
}

.navbar-light .navbar-text {
    color: whitesmoke;
}

.navbar-light .navbar-nav .nav-link {
    color: yellow;
}

.centered {
    text-align: center;
}

.alignRight {
    text-align: right;
}

.strength div div {
    height: 4px !important;
}

.bg-light {
    /*background-color: #EAF8FB !important;*/
    /*border-bottom: 1px dotted aquamarine;*/
}

.big {
    font-size: 5rem;
    color: whitesmoke;
    margin: 0 0 -28px;
}

.navbar-light .navbar-text {
    color: whitesmoke;
}

.navbar-collapse a,
.navbar-light .navbar-text a,
.navbar-collapse .span2 {
    font-weight: 400;
    font-size: 0.85rem;
}

/*.navbar-light .navbar-text a {*/
/*    color: gold !important;*/
/*}*/

/*!*.navbar-light .navbar-text i,*!*/
/*.navbar-light .navbar-text .extra,*/
/*    !*.navbar-collapse a i,*!*/
/*.navbar-collapse a .extra,*/
/*.navbar-collapse .span2 {*/
/*    display: none !important;*/
/*}*/

.container {
    margin-top: 78px;
}

@media (min-width: 801px) {
    .noMobile {
        display: inline !important;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1200px !important;
    }
}

div.cardContainer {
    display: flex;
    justify-content: center;
}

.istok {
}

.white {
}

.porpora {
}

.porporino {
}

/*div.cardDiv {*/
/*    float: left;*/
/*    border: 1px solid #eeeeee;*/
/*    display: inline;*/
/*    padding: 19px;*/
/*    margin: 16px;*/
/*}*/

div.textBlock {
    /*background-color: rgba(0, 0, 0, 0.85);*/
    border-radius: 20px;
    /*border: 3px solid rgba(200, 230, 255, 0.3);*/
    padding: 36px;
    margin-bottom: 36px;
    background-color: rgba(0, 0, 0, 0.9);
}

div.textBlock p:last-child {
    margin-bottom: 0 !important;
}

.video-react .video-react-big-play-button {
    border: 0.06666em solid #326 !important;
    width: 2em !important;
}

.noTokens {
    font-size: 2rem;
    width: 50%;
    padding-top: 100px;
    text-align: center;
}

.container {
    padding-right: 12px;
    padding-left: 12px;
}

.smallvideo {
    width: 100%;
}

.noMobile {
    display: none !important;
}

.justify-content-end {
    display: none;
}

.splitter {
    display: block;
    height: 12px;
}

.splitter2 {
    display: block;
    height: 6px;
}

/*.navbar-collapse a, .navbar-light .navbar-text a, .navbar-collapse .span2 {*/
/*    border: 1px solid #226;*/
/*    border-radius: 6px;*/
/*    margin-right: 7px;*/
/*    background-color: #003;*/
/*}*/

/*.bg-dark {*/
/*    background-color: #002 !important;*/
/*    border-bottom: 1px dashed #309 !important;*/
/*}*/

@media (min-width: 990px) {
    .mr-auto a {
        font-size: 1.2rem !important;
    }
}

/*@media (min-width: 1400px) {*/
/*    .container {*/
/*        max-width: 1400px !important;*/
/*    }*/
/*}*/

a.yellowHover {
    color: whitesmoke !important;
}

a.yellowHover:hover {
    color: yellow !important;
}

a.menucmd {
    font-size: 0.8rem !important;
}

.tworem {
    font-size: 1.3rem;
}

small.error {
    color: #ffceec !important;
}

.m0Auto {
    margin: 0 auto;
}

.paglia {
    padding-left: 37px;
}

img.oil {
    width: 22%;
    margin: 4px;
}

.item {
    margin: 0 8px;
}

.credits {
    /*color: indigo;*/
}

.bio {
    /*color: indigo;*/
}

.roboto {
}

.largerp {
    font-size: 1.2rem;
}

.alice {
}

.webcam-capture video {
    width: 100%;
}

button {
}

.root {
    width: 100% !important;
}

div.subtitle {
    /*background: #000;*/
    width: 100%;
    text-align: center;
    padding-top: 42px;
    margin-bottom: 24px;
    /*border-bottom: 1px dashed #309;*/
    padding-bottom: 2px;
    /*color: white;*/
}

div.subtitle.transparent {
    background: transparent !important;
}

div.subtitle div {
    font-size: 0.9rem;
    padding-bottom: 6px;
}

img.cover {
    border: 1px solid darkblue;
    border-radius: 8px;
    width: 100%;
}

.footer {
    width: 100%;
    /*background-color: white;*/
    padding: 8px 0;
}

a.cyan {
}

.spacer {
    display: block;
    height: 12px;
}

.cc-license-icons img {
    width: 21px;
    margin: 0 2px;
}

.claiming {
    font-size: 0.9rem;
    margin: 50px 0 12px;
}

span code {
    font-size: 0.9rem;
}

span.button {
    border: 1px solid #007bff;
    padding: 0 4px;
    background: #332266;
    border-radius: 4px;
}

.navbar-light .navbar-toggler-icon {
}

.notConnected {
}

.isMine {
    position: relative;
    display: block;
    border-radius: 6px;
    border: 1px solid #830;
    float: right;
    z-index: 2;
    font-size: 80%;
    padding: 0 4px;
    margin: -11px;
    background: #220;
}

.ttype {
    border-color: #64c;
    background: #014;
}

.roundedIn {
    border: 1px solid #007bff;
    background: #332266;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 18px;
}

.navbar {
    background-color: black !important;
    border-bottom: none !important;
    background-size: 100%;
    padding: 1.2rem 1.4rem !important;
}

.hina {
}

.chiaro {
    background: darkmagenta !important;
    border: 1px solid #aaa !important;
    border-radius: 22px !important;
    color: #ffceec !important;
}

.dragons-show img {
    width: 100%;
}

.dragons-show div.centered {
    font-size: 2rem;
}

.home-section h1,
h2 {
    text-align: center;
}

.home-section h1 {
    /*font-size: 2rem;*/
    padding: 24px;
}

.home-section h2 {
    font-size: 1.4rem;
}

.home-section h3 {
    font-size: 1.6rem;
}

.home-section h4 {
    font-size: 1.4rem;
}

.textBlock.smaller p {
    /*font-size: 1.2rem !important;*/
}

.large {
    font-size: 3rem !important;
}

.smaller {
    font-size: 0.8rem;
}

.centrato {
    margin: auto;
    width: 75%;
    padding: 0;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

/*.carousel-item {*/
/*    position: relative;*/
/*    display: none;*/
/*    float: left;*/
/*    width: 100%;*/
/*    margin-right: -100%;*/
/*    -webkit-backface-visibility: hidden;*/
/*    backface-visibility: hidden;*/
/*    transition: -webkit-transform .9s ease-in-out;*/
/*    transition: transform .9s ease-in-out;*/
/*    transition: transform .9s ease-in-out, -webkit-transform .9s ease-in-out*/
/*}*/

.comingSoon {
    text-align: center;
    font-size: 2rem;
}

.textBlock a,
.textBlock .command {
}

.pl20p {
    padding-left: 100px !important;
}
.underlineHover:hover {
    text-decoration: underline;
}
.pr20p {
    padding-right: 100px !important;
}

.starSeparator {
    text-align: center;
    margin-bottom: 22px;
}

.starSeparator img {
    width: 60px;
}

.pm0 {
    margin: 0 !important;
    padding: 2px !important;
}

.textBlock.tcompact {
    font-size: 1.3rem !important;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.mr200 {
    margin-right: 200px !important;
}

.ml200 {
    margin-left: 200px !important;
}

.ed2logo {
    width: 60%;
    margin-bottom: 28px;
}

@media (max-width: 990px) {
    .teamname {
        font-size: 1rem !important;
    }

    .ed2logo {
        width: 80%;
        margin-bottom: 0;
    }

    .centrato {
        /*margin: auto;*/
        width: 100%;
        padding: 0;
    }

    .ml200 {
        margin-left: 0;
    }

    .mr200 {
        margin-right: 0;
    }
}

#footer {
    padding: 6px;
}

.textBlock h2.likeh1 {
    font-size: 2.5rem;
}

.faqTitle {
    font-size: 1rem !important;
    font-weight: bold;
    margin-bottom: 4px;
}

.faqBody {
    font-size: 0.95rem !important;
}

.textBlockCS {
    font-size: 1.2rem;
    margin-bottom: 48px;
    margin-top: -12px;
    font-style: italic;
}

.toTheTop {
    margin-top: -16px;
    margin-bottom: 12px;
}

.toTheTop img,
img.pc90 {
    width: 90% !important;
}

.pt24 {
    padding-top: 24px !important;
}

.pc70 img {
    width: 70%;
}

.home-section h4 {
    padding-top: 24px;
}

.bold {
    font-weight: bold !important;
}

/*.bg0 {*/
/*    background-image: url(../images/bg000.png);*/
/*    background-position: center bottom;*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/
/*    background-size: contain;*/
/*}*/

/*.bg1 {*/
/*    background-image: url(../images/bg001.png);*/
/*    background-position: left center;*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/
/*    background-size: contain;*/
/*}*/

/*.bg2 {*/
/*    background-image: url(../images/bg002.png);*/
/*    background-position: right center;*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/
/*    background-size: contain;*/
/*}*/

/*.bg3 {*/
/*    background-image: url(../images/bg003.png);*/
/*    background-position: center bottom;*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/
/*    background-size: contain;*/
/*}*/

@media (max-width: 1000px) {
    .socialLinks {
        float: right;
        margin-top: -5%;
    }
}

.socialLinks a {
    color: white !important;
    text-decoration: none;
}

.socialLinks i {
    font-size: 1.5vw;
    padding: 0 12px;
}

.bitSmaller {
    font-size: 1.2vw;
    margin-right: 6px;
}

/*input::placeholder { !* Chrome, Firefox, Opera, Safari 10.1+ *!*/
/*    color: #bfc7d3 !important;*/
/*}*/

.input-error {
    background: #cc0040;
    padding: 12px 12px 0;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

div.label {
    padding: 8px 0 12px;
}

.aqua {
    color: aqua !important;
}

.imgLogo {
    margin-bottom: 32px;
}

.imgLogo img {
    width: 300px !important;
}

.topContainer {
    margin-top: 100px;
}

.crimson {
    color: crimson;
    font-weight: normal;
}

.digit {
    font-family: "Ubuntu Mono", sans-serif;
}

.error {
    background-color: crimson;
    color: floralwhite;
    padding: 8px 13px;
    border-radius: 6px;
    margin-top: 23px;
    font-size: 1rem;
}

.token {
    margin: 32px 0;
}

.gold,
.gold a {
    color: gold !important;
    text-decoration: none;
}

.memberName {
    width: 25%;
    float: left;
}

.memberCode {
    font-family: "Ubuntu Mono", sans-serif;
}

.newCodes {
    border-radius: 8px;
    background-color: darkslateblue;
    padding: 12px;
    margin-bottom: 36px;
}

.table-bordered > :not(caption) > * > * {
    width: 14% !important;
    font-size: 0.8rem;
    color: whitesmoke !important;
}

hr.crimson {
    margin: 32px 0;
}

.mt20 {
    margin-top: 20px;
}

.welcometo {
    font-size: 1.3rem;
    margin-bottom: 24px;
}

/*@media (max-width: 768px) {*/
/*    .collapse:not(.show), .justify-content-end {*/
/*    display: block !important;*/
/*    }*/
/*}*/

.mb22 {
    margin-bottom: 22px;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.clearBoth {
    clear: both !important;
}

.largeError {
    border: 1px solid crimson;
    padding: 64px;
    font-size: xx-large;
    color: white;
    border-radius: 12px;
    background: #00000060;
}

.thumbs {
    width: 30rem;
    height: 30rem;
    border-radius: 12px;
    padding: 48px 12px 24px;
    background-color: black;
    margin: 24px;
    float: left;
}

.thumbs img {
    width: 25rem;
}

.thumbsLabel {
    color: white;
    font-size: x-large;
    border-radius: 12px;
    background-color: #111;
    padding: 64px;
}

.haveFun {
    padding: 48px 0 80px;
}

h1.notTooLarge {
    font-size: 2.8rem;
}

.nftLogos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
}

.nftText {
}
.nftTextGold {
    color: yellow;
}
.nftTextSilver {
    color: silver;
}
.nftTextBronze {
    color: #b08d57;
}
.nftLogos img {
    width: 18rem;
}
.topRow {
    font-size: 90%;
    margin: 8px 0;
}

.boldNFT {
    font-size: 100%;
    margin-top: 8px;
}
.nftTextFlex {
    display: flex;
    flex-direction: row;
}
.topsynnersLogo {
    text-align: center;
}

.topsynnersLogo img {
    width: 360px;
    align-content: center;
}

.yellowLogo {
    text-align: center;
    margin-bottom: 32px;
}

.yellowLogo img {
    width: 220px;
}

.progressBar1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.progressBar2 {
    width: 100%;
    margin: 2px 0 0 0;
}

.progress {
    height: 34px !important;
    /*background-image: url(../images/progress-bg.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    /*background-attachment: fixed;*/
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}
.progress .sr-only {
    position: relative;
}

.progress .progressBar {
    height: 32px;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    padding: 0;
    text-align: left;
    margin: 1px;
}

.bars1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.bars {
    border-left: 6px solid white;
    height: 25px;
}
.Top50 {
    padding-right: 19.7%;
}
.Top50bar {
    border-left: 6px solid white;
    height: 25px;
    padding-left: 00px;
}
.Top100 {
    padding-right: 10%;
}
.Top100bar {
    border-left: 6px solid white;
    height: 25px;
}
.Top200 {
    padding-right: 23.5%;
}
.Top200bar {
    border-left: 6px solid white;
    height: 25px;
}
.notConnectedTxt {
    color: #316cf4;
    font-size: 32px;
    font-weight: bold;
    padding: 80px 0;
}

.buySYNbtn2 {
    padding-left: 10px;
}

.buySYNbtn {
    white-space: nowrap;
    padding: 6px 16px;
    height: 30px;
    width: 90px;
    font-weight: bold;
    border: 1px solid #880;
    border-radius: 4px;
    background-image: linear-gradient(gold, yellow);
    color: #883300;
}

.progressBarComplete {
    justify-content: flex-start;
    padding: 32px 0;
}

.progressBarAddress {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    color: white;
    align-content: flex-start;
}

.parent {
    width: 96%;
    /*border: 0.5px solid white;*/
    /*overflow: hidden;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
}

table {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    float: left;
    width: 1000px;
    max-width: 100%;
}

table td {
    padding: 5px;
}

.rank-header {
    color: yellow;
    font-size: 1.2rem;
    font-weight: bold;
}

.data:first-child {
    font-size: 18px;
    font-weight: bold;
    padding-left: 50px;
}

.data {
    padding-left: 20px;
    font-family: "Ubuntu Mono", sans-serif;
}

.stats {
    /*max-height: 500px;*/
    /*width: 1000px;*/
    /*overflow-y: auto;*/
}

.alignRight {
    text-align: right !important;
}

.alignLeft {
    text-align: left !important;
}

.myPosition {
    padding-top: 32px;
    font-size: 2rem;
    color: orange;
    /**/
    font-weight: bold;
}

/*.data:nth-child(2) {*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    padding-left: 70px;*/
/*}*/

/*.data:nth-child(3) {*/
/*    padding-right: 20px;*/
/*}*/

.highlight {
    background-color: #aa0719;
}

.width100pc {
    width: 100%;
}

.maxLength {
    margin: auto;
    max-width: 999px;
}

.overMenu {
    z-index: 5;
}

.inside {
    margin: auto;
    max-width: 1024px;
}

.foot {
    padding: 40px 0 20px;
}

.foot img {
    width: 20%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.lastData {
    text-align: right;
}

.addSynr {
    cursor: pointer;
    color: yellow;
    font-weight: bold;
    font-size: 14px;
}

.CopyRight {
    font-size: 0.9rem;
    padding: 24px 0 12px;
    color: #880;
}

#lBoard {
    /*border-bottom: 6px solid #ffff0020;*/
    margin-bottom: 6px;
}

.noMargin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.progressBar {
    padding-top: 10px;
}

.landingpageText {
    font-size: 2rem;
    line-height: 2rem;
    margin: 24px 0;
}

.instructions {
    margin: 12px 0;
}

.inInstructions {
    border-radius: 24px;
    border-color: yellow;
    background-color: #ffff0020;
    margin: 8px;
    padding: 16px;
    font-size: 0.8rem;
}

.inInstructions .bold {
    font-size: 1rem;
}

.videoContainer,
.videoContainer div,
.videoContainer div div,
.videoContainer div div video {
    width: 280px !important;
    height: 280px !important;
    border-radius: 50px;
}

.videoContainer div div video {
}

.videoContainer div div:first-child {
    display: none;
}

.videoContainer {
    margin: 8px 8px 24px 8px;
    padding: 12px;
}

.videoContainer div div {
    text-align: center;
}

@media (max-width: 990px) {
    .myPosition {
        padding-top: 12px;
        font-size: 1.2rem;
    }

    .rank-header {
        font-size: 0.9rem;
    }
    .landingpageText {
        font-size: 1.4rem;
        line-height: 1.3rem;
        margin: 12px 0;
    }

    .CopyRight {
        padding-top: 16px;
    }

    /*.container {*/
    /*    padding-left: 0;*/
    /*    padding-right: 0;*/
    /*    width: 90%;*/
    /*}*/

    .onTitle {
        font-weight: bold;
        font-size: 0.7rem;
    }

    .floatRightAbsolute {
        position: absolute;
        top: 6px;
        right: 8px;
    }

    .videoContainer,
    .videoContainer div,
    .videoContainer div div,
    .videoContainer div div video {
        width: auto !important;
    }

    /*.progress {*/
    /*    background-image: url(../images/progress-bg-mobile.jpg);*/
    /*}*/
}
.CopyRight {
    padding-top: 16px;
    border-top: 1px solid #551;
    margin: 36px 0 12px;
}

.top50 {
    background-color: #ffdd0060;
}

.top100 {
    background-color: #ffdd0040;
}

.top200 {
    background-color: #ffdd0020;
}

.endResults {
    color: crimson;
    font-size: 3rem;
}

.spaceAtBottom {
    margin-bottom: 16px;
}

.spaceAtNight {
    margin-bottom: 2px;
}

.positionAbsolute {
    top: 20px;
    position: absolute;
    z-index: 1;
}

.controlbar {
    display: none !important;
}

.stats {
    border-top: #606060 solid;
}

.wrong {
    font-family: Wrong, sans-serif;
    font-size: 7vw;
    color: white;
}

.wrongMobile {
    font-family: Wrong, sans-serif;
    font-size: 7vw;
    color: white;
    padding: 11% 0;
}

.wrongMobile.top {
    margin-left: 34%;
}

.wrongMobile.bottom {
    margin-left: 14%;
}

.underWrong {
    font-family: Modeco, sans-serif;
    color: white;
    margin-top: -9%;
    font-size: 100%;
}

::-webkit-scrollbar {
    width: 0;
}

.hcontainer {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    padding: 0 30px;
    font-family: Modeco, sans-serif !important;
}

.hcard {
    flex-shrink: 0;
    width: 140px;
    height: 140px;
    border-radius: 10px;
    margin: 0 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black; /* #131313 */
    filter: grayscale(1);
}

.dongle {
    font-family: "Dongle", sans-serif !important;
}

.wrapped {
    height: 48px !important;
    width: 140px;
}

.grid-item {
    margin: 0 24px 24px;
}

@media (max-width: 900px) {
    .grid-item {
        margin: 0 16px;
    }
}

.hcard:hover {
    filter: grayscale(0);
}

.investor {
    font-size: 2rem;
    margin: 40px 0;
    text-align: center;
}

@media (max-width: 900px) {
    .investor {
        margin: 8px;
    }
}

.list {
    margin: 40px 0;
}

.navbar-light .navbar-nav .nav-link,
.links {
    font-family: Mulish, sans-serif;
    font-size: 0.8rem !important;
    padding-top: 12px;
    color: white;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    padding-top: 8px;
}

.navbar-light .navbar-nav .nav-link:hover,
.links:hover {
    color: yellow;
}

.links.nav-item.dropdown {
    padding: 0 8px 0 16px;
    margin-top: 0;
    color: white;
}

.dropdown-menu {
    background-color: yellow !important;
}

.dropdown-item,
.dropdown-item:hover,
.dropdown-item.active {
    color: black;
    text-decoration: none;
    background-color: transparent;
    font-size: 0.8rem;
}

.mr-auto a {
    font-size: 1.2vw !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .show > .nav-link {
    color: yellow;
}

.footer2 {
    margin-bottom: 40px;
    margin-top: 120px;
    font-size: 0.8rem;
}

.tooltipBottom {
    margin-top: -12px;
    font-size: 0.6rem;
}

.titleLeft {
    text-align: left;
    padding: 52px 100px;
    font-size: 2.5rem;
}

.titleLeft .image {
    padding: 0;
    margin: 0;
    height: 35px;
}

.masonryContainer {
    text-align: center;
}

.teamContainer {
    max-width: 1220px;
    margin: 0 auto;
}

@media (max-width: 900px) {
    .teamContainer {
        max-width: 610px;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .teamContainer {
        max-width: 310px;
        margin: 0 auto;
    }
}

.teamMemberContainer {
    border: 1px solid #222;
    margin: 6px;
    padding: 0;
    height: 350px;
}

.teamMember {
    padding: 50px;
    transition-property: padding;
    transition-duration: 0.4s;
}

.teamMember:hover {
    padding: 30px 50px 0;
}

.memberPicture {
    width: 190px;
    height: 190px;
}

.memberPicture img {
    width: 190px;
}

.teamName {
    margin-top: 12px;
    color: yellow;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
}

.teamRole {
    color: white;
    font-size: 1rem;
    text-align: center;
    max-width: 190px;
}

.jobPicture {
    transition-property: display, opacity, height;
    transition-duration: 0.4s;
    margin-top: 8px;
    width: 190px;
    height: 0;
    display: none;
    opacity: 0;
    text-align: center;
}

.teamMember:hover .jobPicture {
    height: 90px;
    display: block;
    opacity: 1;
}

.jobPicture img {
    width: 190px;
}

.allPage {
    width: 100%;
    height: 100%;
    background-color: #131313;
}

.donotshow,
.offScreen {
    position: absolute;
    z-index: 20;
    top: -1000px;
    left: -1000px;
    width: 10px;
    height: 10px;
}

/*.navbar-expand-lg {*/
/*    margin-top: 100px;*/

/*}*/

.navbar-expand-lg.navbar-light.bg-dark {
    padding-top: 120px;
    /*max-width: 80%;*/
}

/*.navbar-collapse.collapse {*/
/*    opacity: 0;*/
/*}*/

/*@keyframes collapseFadeIn {*/
/*    0% {*/
/*        opacity: 0;*/
/*    }*/
/*    100% {*/
/*        opacity: 1;*/
/*    }*/
/*}*/

/*.faded {*/
/*    opacity: 0.2;*/
/*}*/

/*.navbar-collapse.collapse.show {*/
/*    animation: 0.3s ease-out 0s 1 collapseFadeIn;*/
/*    opacity: 1;*/
/*}*/

.navbar-light .navbar-toggler {
    color: #1d2121;
    border: 1px solid #222;
    border-radius: 6px;
    padding: 4px;
}

.navbar-toggler-icon {
    background-image: url(../images/toggle.png) !important;
}

.show .navbar-nav-scroll .links,
.show .navbar-nav-scroll .links a {
    font-size: 1.7rem !important;
    padding: 8px 0 !important;
}

.show .navbar-light.navbar-text a,
.show .yellowHover {
    padding: 0 !important;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.fade-out {
    animation: 0.3s ease-out 0s 1 fadeOut;
    opacity: 0.5;
}

@keyframes fadeIn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/*.faded {*/
/*    opacity: 0.2;*/
/*}*/

.fade-in {
    animation: 0.3s ease-out 0s 1 fadeIn;
    opacity: 1;
}

.grey666 {
    color: #666 !important;
}

.grey999 {
    color: #999;
    font-size: 75%;
}

/*.navbar-toggler.collapsed {*/
/*    visibility: visible;*/
/*}*/
.skip {
    color: yellow;
    background-color: black;
    float: right;
    transform: skewX(-6deg);
    padding: 4px 14px;
    border: 1px solid white;
    margin-right: 20px;
}

.skip div {
    transform: skewX(6deg);
}
.mobileImages {
    height: 180px;
    width: 33%;
}
.welcomeBackground {
    background: #202020;
}
.welcome {
    display: flex;
    justify-content: center;
    font-size: 7.5vw;
    font-family: Wrong, sans-serif;
    padding-top: 10%;
}
.welcomeSub {
    font-family: Mulish, sans-serif;
    font-size: 2vw;
    margin-top: -1%;
}
.textSub {
    font-family: Mulish, sans-serif;
    font-size: 1.2vw;
    margin-top: -2%;
    width: 70%;
}
.browseSub {
    font-family: Mulish, sans-serif;
    font-size: 1.2vw;
    margin-top: -2%;
    width: 68%;
    margin-left: 15%;
    text-align: end;
}
.assetsSub {
    font-family: Mulish, sans-serif;
    font-size: 1.2vw;
    margin-top: -2%;
    text-align: right;
    margin-left: 13%;
}
.summary {
    padding: 15px;
    font-size: 20px;
}
.button {
    border: 1px #a69d0a solid;
    border-radius: 50px;
    font-weight: bold;
    color: black;
    background: #fae901;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: 0px 0px 15px yellow;
    font-size: 110%;
}
@media (max-width: 1000px) {
    .button {
        font-size: 1.5vw !important;
    }
    .buttonSeed {
        font-size: 1.5vw !important;
    }
    .buttonBrowse {
        font-size: 1.5vw !important;
    }
    .buttonAssets {
        font-size: 1.5vw !important;
    }
}
.buttonSeed {
    border: 1px #f7f8f8 solid;
    border-radius: 50px;
    font-weight: bold;
    color: black;
    background: #f7f8f8;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: 0px 0px 15px #f7f8f8;
    font-size: 110%;
}
.buttonAssets {
    border: 1px #a69d0a solid;
    border-radius: 50px;
    font-weight: bold;
    color: black;
    background: #fae901;
    padding-left: 28%;
    padding-right: 30%;
    padding-top: 4%;
    padding-bottom: 2%;
    box-shadow: 0px 0px 15px yellow;
    font-size: 120%;
}
.buttonLeaks {
    border: 1px #a69d0a solid;
    border-radius: 50px;
    font-weight: bold;
    color: black;
    background: #fae901;
    padding-left: 14%;
    padding-right: 16%;
    padding-top: 3%;
    padding-bottom: 2%;
    box-shadow: 0px 0px 15px yellow;
    font-size: 120%;
}
.buttonBrowse {
    border: 1px #a69d0a solid;
    border-radius: 50px;
    font-weight: bold;
    color: black;
    background: #fae901;
    padding-left: 8%;
    padding-right: 8%;
    box-shadow: 0px 0px 15px yellow;
    font-size: 110%;
}
.empireButton {
    border: 1px #a69d0a solid;
    border-radius: 50px;
    font-weight: bold;
    color: black;
    background: #fae901;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 0px 0px 15px yellow;
    font-size: 110%;
}
.corePool {
    border: black solid;
    background: #ecdc00;
}
.seedPool {
    border: black solid;
    background: #6512af;
}
.stakingPools {
    padding: 15px;
    font-size: x-large;
}

.social {
    justify-content: space-evenly;
    display: flex;
    font-size: larger;
}
.title {
    display: flex;
    justify-content: flex-start;
    font-size: 5vw;
    font-family: Wrong, sans-serif;
    padding-top: 10%;
}

.titleRight {
    display: flex;
    justify-content: flex-end;
    font-size: 500%;
    font-family: Wrong, sans-serif;
    padding-top: 10%;
}
.exchanges {
    margin-top: -2%;
}
.exchanges img {
    height: 40px !important;
}
.exchanges a {
    padding: 0 3px;
}

.footerNote {
    color: #884;
    font-size: 84%;
    background-color: #00000040;
    padding: 14px;
    max-width: 400px;
    margin: 0 auto;
}

.footerNote a {
    text-decoration: none !important;
}
.footer {
    width: 100%;
    border-top: 1px solid;
    border-color: #ffdd0080 !important ;
    background: black;
    margin-top: 50px;
    padding-bottom: 100px;
}

.seed-container .footer {
    border-color: #7b16db80 !important;
}
.bit-smaller {
    font-size: 90%;
}
b,
.bold {
    font-family: ModecoBold, sans-serif !important;
}

.light {
    font-family: ModecoLight, sans-serif !important;
}
.two-columns {
    clear: both;
    padding: 0 12px;
    font-size: 0.9rem;
}

.two-columns:last-child {
    margin-bottom: 18px;
}

.two-columns-left {
    float: left;
}

.two-columns-right {
    float: right;
}
.joinUs {
    font-family: Mulish, sans-serif;
    display: "inline";
    padding-right: 20;
}
.mulish {
    font-family: Mulish, sans-serif;
}
.assets {
    display: flex;
    justify-content: space-evenly;
}
.assets img {
    height: 30px !important;
}
.coins {
    padding-top: 5%;
}
.coins img {
    width: 70%;
}
.assetImages {
    margin-top: -20%;
}
.assetImages img {
    width: 70%;
}

.gangster1 {
    width: 120%;
    margin-top: -5%;
}
.empireButtonDiv {
    padding-top: 4%;
    padding-bottom: 7%;
}
.turfImage {
    width: 115%;
    margin-left: -20%;
    padding-top: 18px;
}

.mobileExchange {
    display: flex;
    justify-content: center;
    padding-top: 12%;
}

.economyMobile {
    display: flex;
    justify-content: center;
}
@media (max-width: 600px) {
    .title {
        justify-content: center;
        font-size: 10vw;
        padding-top: 25px;
    }
    .textSub {
        font-size: 2vw;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }
    .empireButtonDiv {
        justify-content: center;
        display: flex;
    }
    .turfImage {
        width: 70%;
        padding-left: 25%;
        margin-left: 0%;
        padding-top: 0px;
    }
    .button {
        font-size: 5.5vw !important;
        margin: 1%;
    }
    .buttonSeed {
        font-size: 5.5vw !important;
        margin: 1%;
    }
    .buttonBrowse {
        font-size: 5.5vw !important;
        margin: 1%;
    }
    .buttonAssets {
        font-size: 5.5vw !important;
        margin: 1%;
    }
}
